/* style.css */

/* ページ全体のスタイル */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* ヘッダーのスタイル */
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* メインコンテンツのスタイル */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 74.8vh;
}

.book-icon {
  margin-right: 12px;
}

.top-title {
  font-size: 40px;
}
/* 入力フォームのスタイル */
.diary-form {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.diary-form h2 {
  margin-bottom: 10px;
}

.diary-form textarea {
  width: 94%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  margin-bottom: 10px; /* 余白を追加 */
}

.diary-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.diary-form input[type="file"] {
  margin-bottom: 10px;
}

.diary-form button {
  display: block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.diary-form button:hover {
  background-color: #555;
}

/* フッターのスタイル */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 15px 0;
}

/* グラフコンテナのスタイル */
.graph-container {
  width: 80%;
  max-width: 800px;

  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* グラフのスタイル */
#sentiment-graph {
  width: 100%;
  height: 400px;
}

/* ヘッダーなど */
.home-icon {
  position: absolute;
  top: 24px;
  right: 80px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.home-icon a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.home-icon i {
  font-size: 48px; /* ホームアイコンのフォントサイズを大きくする */
}

.home-text {
  margin-top: -2px;
}
/* グラフボタンのスタイル */
.graph-button a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.graph-button {
  position: absolute;
  top: 24px;
  right: 80px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.graph-button i {
  font-size: 48px;
}

.graph-text {
  font-size: 18px;
  margin-top: -2px;
}

.graph-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 昨日の日記 */
.yesterday-diary {
  padding: 10px;
  background-color: #333;
  color: #fff;
  height: 38vh;
  max-height: 38vh;
  width: 25%;
  position: absolute;
  left: 70%;
  border-radius: 8px;
  padding-left: 20px;
}

.yesterday-diary h3 {
  font-size: 24px;
  margin-bottom: 5px;
  margin-top: 32px;
}

.yesterday-diary p {
  font-size: 16px;
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.yesterday-diary img {
  max-width: 100%;
  max-height: 140px;
  margin-top: 24px;

}


